/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-moz-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-ms-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-moz-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-ms-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* line 2, ../sass/layouts/_grid.scss */
.header__logo {
  position: absolute;
  top: 40px;
  left: 40px;
}
/* line 5, ../sass/layouts/_grid.scss */
.header__hero {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 13, ../sass/layouts/_grid.scss */
.header__title, .header__subtitle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 1, ../sass/base/_base.scss */
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #777;
  font-weight: 400;
  line-height: 1.7;
  padding: 30px;
}

/* line 1, ../sass/components/_btn.scss */
.btn {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 0.938em 2.5em;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 8, ../sass/components/_btn.scss */
.btn.is-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* line 13, ../sass/components/_btn.scss */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
/* line 17, ../sass/components/_btn.scss */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 21, ../sass/components/_btn.scss */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
}

/* line 219, ../sass/helpers/_mixins.scss */
.btn--small {
  font-size: 12px;
}

/* line 219, ../sass/helpers/_mixins.scss */
.btn--large {
  font-size: 20px;
}

/* line 175, ../sass/helpers/_mixins.scss */
.btn--primary, .btn--animated-primary {
  color: #777;
  background-color: #fff;
}
/* line 213, ../sass/helpers/_mixins.scss */
.btn--primary:hover, .btn--animated-primary:hover {
  background-color: white;
}

/* line 184, ../sass/helpers/_mixins.scss */
.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
/* line 189, ../sass/helpers/_mixins.scss */
.btn:link, .btn:visited {
  position: relative;
}
/* line 195, ../sass/helpers/_mixins.scss */
.btn--animated-primary::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* line 225, ../sass/helpers/_mixins.scss */
.btn--bordered-primary {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
/* line 230, ../sass/helpers/_mixins.scss */
.btn--bordered-primary:hover {
  background: transparent;
  color: #e6e6e6;
  border-color: #e6e6e6;
}

/* line 1, ../sass/pages/_main.scss */
.main__logo {
  height: 35px;
}

/* line 4, ../sass/pages/_main.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
/* line 12, ../sass/pages/_main.scss */
.header__hero {
  height: 100%;
}
/* line 15, ../sass/pages/_main.scss */
.header__text {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}
/* line 21, ../sass/pages/_main.scss */
.header__title {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: moveInLeft;
  -moz-animation-name: moveInLeft;
  -o-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
/* line 25, ../sass/pages/_main.scss */
.header__subtitle {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: moveInRight;
  -moz-animation-name: moveInRight;
  -o-animation-name: moveInRight;
  animation-name: moveInRight;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/*# sourceMappingURL=app.css.map */
