.btn {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 0.938em 2.5em;
  @include transition(all 0.1s ease-in-out);

  &.is-disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
  }
}

// --- button: sizes -----------------------------------------------------------

@include button-size("small", 12px);
@include button-size("large", 20px);
// class= "btn--large"

// --- button: variants --------------------------------------------------------

@include button("primary", $btn-color);
//class= "btn--primary "

// --- button: animated --------------------------------------------------------

@include button-animated("primary", $btn-color);
// class= "btn--animated-primary"

// --- button: bordered --------------------------------------------------------

@include button-bordered("primary", $btn-color);
// class= "btn--bordered-primary"
