.btn {
  border: none;
  cursor: pointer;
  padding: 0.938em 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  @include transition(all 0.1s ease-in-out);

  &:hover {
    @include translateY(-3px);
    @include box-shadow(0 0.625rem 1.25rem rgba(0, 0, 0, 0.3));
  }
  &:active {
    @include translateY(-1px);
    @include box-shadow(0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2));
  }

  &--animation {
    @include animate(moveInBottom, 0.5s, 0.75s, ease-out, backwards);
  }
}

// --- button: sizes -----------------------------------------------------------

@include button-size("small", 0.75rem);
@include button-size("large", 1.25rem);
// class= "btn--large"

// --- button: variants --------------------------------------------------------

@include button("white", $btn-color-white, $btn-border-rounded);
//class= "btn--white "

// --- button: effect Pulse --------------------------------------------------------

@include button-pulse("white", $btn-color-white, $btn-border-rounded);
// class= "btn--pulse-white"

// --- button: bordered --------------------------------------------------------

@include button-bordered("white", $btn-color-white);
// class= "btn--bordered-white"
