.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($light, 0.8), rgba($dark, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  &__img {
    height: 35px;
  }
  &__text {
    height: 100%;
  }
  &__title {
    color: #fff;
    text-transform: uppercase;
  }
  &__main {
    @include font(60px, null, 400, null, 35px);
  }
  &__sub {
    @include font(20px, null, 700, null, 17.4px);
  }
}
