[class^="grid__col"] {
  @include media("desktop", "max") {
    align-items: center;
    &:last-child {
      margin-right: $grid-gutter-horizontal;
    }
  }
}
.grid__col {
  &--5,
  &--4,
  &--3,
  &--2,
  &--1 {
    @include media("desktop", "max") {
      flex-basis: 50%;
    }
  }
  &--6,
  &--7,
  &--8,
  &--9,
  &--10,
  &--11,
  &--12 {
    @include media("desktop", "max") {
      flex-basis: 98%;
    }
  }
}
.composition {
  @include media("tablet-small", "max") {
    width: 100%;
    display: flex;
  }
  &__photo {
    @include media("tablet-small", "max") {
      position: initial;
    }
    &--p2 {
      @include media("tablet-small", "max") {
        margin: -2rem -4rem 1rem -4rem;
        z-index: 1;
      }
    }
  }
}
.about__item {
  @include media("tablet-small", "max") {
    width: 90%;
  }
}
