// DESKTOP
.section__warpper {
  @include media("desktop", "max") {
    @include flexbox;
    @include flex-wrap(wrap);
  }
}
.section__container {
  &--left,
  &--right {
    @include media("desktop", "max") {
      @include justify-content(center);
      flex: 0 1 100vw;
    }
  }
}

.about__item {
  @include media("desktop", "max") {
    margin-bottom: 2rem;
    padding-right: 0;
    width: 58%;
  }
}

// TABLET-SMALL

.section__container {
  &--right {
    @include media("tablet-small", "max") {
      @include align-items(flex-start);
    }
  }
}
[class^="photo__img"] {
  @include media("tablet-small", "max") {
    position: static;
    width: 40%;
  }
}
.photo {
  @include media("tablet-small", "max") {
    @include flexbox;
    @include justify-content(center);
    width: 85%;
  }
  &__img--02 {
    @include media("tablet-small", "max") {
      margin: -0.4rem -2rem;
      z-index: 10;
    }
  }
}
