body {
  @include font(1rem, $color-grey-dark, 400, 1.7);
}

html {
  font-size: 62.5%;
}

.header {
  &__text {
    color: btn-dynamically-text-color($header-gradient-color-end);
    text-transform: uppercase;
  }
  &__title {
    @include font(3.75rem, null, 400, null, 2.1875rem);
  }
  &__subtitle {
    @include font(1.25rem, null, 700, null, 1.0875rem);
  }
}

.section__title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: $color-white;
}

[class^="grid__col"] {
  font-size: 1.6rem;
}

.about__title {
  text-transform: uppercase;
  font-weight: 700;
}
