.features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($header-gradient-color-start, 0.8),
      rgba($header-gradient-color-end, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -11.5rem;
  & > * {
    transform: skewY(7deg);
  }
}

.features__items {
  column-gap: 6rem;
  column-count: 1;
  @media (min-width: 40rem) {
    column-count: 2;
  }
  @media (min-width: 80rem) {
    column-count: 3;
  }
  @media (min-width: 105rem) {
    column-count: 4;
  }
}
.features__card {
  margin-bottom: 1.5rem;
}
.cards__warpper {
  display: flex;
  justify-content: center;
}
.cards__container {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 4;
  column-gap: $cards-gutter;
  width: 65%;
}

.card__item {
  background-color: rgba(white, 0.8);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  padding: 2.5rem;
  margin-bottom: 3rem;
  transition: transition 0.3s;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  justify-content: center;
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 14rem;
}

.card__header {
  margin-bottom: 1.5rem;
}

.card__title {
  color: gray;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 1.25rem;
  text-align: center;
}
.card__btn {
  width: 50%;
}
