//COLORS:
$color-original: #55c57a;
$color-original-light: #7ed56f;
$color-original-dark: #28b485;

$color-primary: #496ee8;
$color-secondary: #20c77f;
$color-tertiary: #e84949;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//Media Queries
$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px
);

//Setup

//button
$btn-color-white: $color-white;
$btn-border-rounded: 3.125rem;
$btn-border-roundedEdge: 1.25rem;
$none: none;

// grid system
$grid-number-col: 12;
$grid-gutter-vertical: 2rem;
$grid-gutter-horizontal: 1rem;
