// Header Page
.header {
  position: relative;
  &__logo {
    @include position-absolute(2.5rem, null, null, 2.5rem);
  }
  &__hero {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
  }
  &__title,
  &__subtitle {
    @include flexbox;
  }
}
// About Page
.section__title {
  display: flex;
  justify-content: center;
}

// Grid System

//--Row
.grid__row {
  display: flex;
  flex-wrap: wrap;
}

//--Column
[class^="grid__col"] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: $grid-gutter-vertical;

  &:not(:last-child) {
    margin-right: $grid-gutter-horizontal;
  }
}

@for $i from 1 through 12 {
  .grid__col--#{$i} {
    flex-basis: calc(100% / #{$grid-number-col} * #{$i});
    flex: 1 0 6%;
  }
  .col__fixed--width-#{$i} {
    flex: 0 0 calc(100% / #{$grid-number-col} * #{$i});
  }
}
