// Header Page
.header {
  position: relative;
  &__logo {
    @include position-absolute(2.5rem, null, null, 2.5rem);
  }
  &__hero {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
  }
  &__title,
  &__subtitle {
    @include flexbox;
  }
}
// About Page
.section__title {
  @include flexbox;
  @include justify-content(center);
}

// Grid System

//--Row
.grid__row {
  @include flexbox;
  @include flex-wrap(wrap);
}

//--Column
[class^="grid__col"] {
  @include flexbox;
  @include justify-content(center);
  @include flex-direction(column);
  margin-bottom: $grid-gutter-vertical;

  &:not(:last-child) {
    margin-right: $grid-gutter-horizontal;
  }
}
.grid__col {
  &--text-right {
    @include align-items(flex-end);
  }
  &--text-left {
    @include align-items(flex-start);
  }
  &--text-centered {
    @include align-items(center);
  }
}
@for $i from 1 through 12 {
  .grid__col--#{$i} {
    flex-basis: calc(100% / #{$grid-number-col} * #{$i});
    flex: 1 0 6%;
  }
  .col__fixed--width-#{$i} {
    flex: 0 0 calc(100% / #{$grid-number-col} * #{$i});
  }
}
